[TEMPLATE]
# Flask Configuration
SECRET_KEY=my-favourite-secret-jwt-key-484
FLASK_ENV=production
FLASK_DEBUG=0

# Database
DATABASE_URL=sqlite:///mealy.db

# JWT
JWT_SECRET_KEY=my-favourite-secret-jwt-key-4844
JWT_ACCESS_TOKEN_EXPIRES=3600


# CORS - Frontend URL
CORS_ORIGINS=https://memis-back-end.vercel.app/

# Server
PORT=5000
